* {
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: white;
    color: black;
    text-transform: capitalize;
    height: 128vh;
}
section {
    width: 138.5vh;
    height: 100%;
    display: flex;
    justify-content: space-between;
}
section .sidebar {
    width: 380px;
    height: 128em;
    background: purple;
    padding: 15px
}
.sidebar .sides {
    width: 370px;
    height: 150px;
    border: 2px solid white;
    padding: 10px;
    color: white;
    margin: 10px;
    border-radius: 10px;
}
.sides h2 {
    color: white;
}

.subtitle {
    width: 90vh;
    padding: 25px;
}
.subtitle h1 {
    padding: 13px;
    color: purple;
    text-transform: capitalize;
    text-align: center;
    font-size: 35px;
    margin-bottom: 15px;
    text-decoration: underline;
    animation: background 2s linear infinite;
}
@keyframes background {
    from {
        background: black;
        color: white;
    }
    to {
        background-color: purple;
        color: black;
    }
    
}
.subtitle p {
    font-size: 18px;
    margin: 10px;
    text-transform: capitalize;
}
.subtitle ul li {
    font-size: 20px;
}
h2, h3 {
    color: purple;
    font-size: 25px;
    text-decoration: underline;
    text-transform: capitalize;
    margin: 10px;
}
.images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.images img {
    margin-bottom: 20px;
    border-radius: 10px;
    margin: 7px;
    transition:  all 1s ease-in-out;
}
.images img:last-child {
    position: relative;
    left: 12em;
}
.images img:hover {
    transform: scale(110%);
}


