body {
    background-color: black;
    color: white;
    font-size: 25px;
}
ul li {
    display: inline;
    margin: 20px;
}
h1 {
    margin-left: 20px;
    position: relative;
    bottom: 20px;
}
b {
    padding: 2px;
    
}
dt, dl {
    color: white;
    font-size: 35px;
}
table {
    border-collapse: collapse;
}
table, thead, th, tbody,tr td {
    padding: 10px;
}
caption {
    border: 1px solid white;
}