body {
    background-color: #111;
    color: white;
    font-size: 23px;
}
h1 {
    text-align: center;
    text-decoration: underline;
}
.boxes {
    display: flex;
    justify-content: center;
    margin: 30px;
    
}
table, thead, th, tbody, tr td {
   border-collapse: collapse;
    border: 2px solid white;
    padding: 15px;
    margin: 10px;
    text-align: justify;
}
table thead th {
    color: gainsboro;
}
dt,dl {
    font-weight: 900;
}
dt,dl::before {
    content: open-quote;
}
dt,dl::after {
    content: close-quote;
}
dt, dl {
    font-size: 30px;
}