:root {
    background-color: black;
    color: white;
    font-size: 22px;
}
.sun {
    background-color: yellow;
    border-radius: 50%;
    height: 30vh;
    aspect-ratio: 1 /1;
    animation: 4s linear 0s infinite alternate rise,
             4s linear 0s infinite alternate bounce;
    z-index: -3;
    position: relative;
}
dt dl b {
    font-size: 30px;
}

 @keyframes rise {
    from {
        transform: translateY(110vh);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
    
}
@keyframes bounce {
    from {
        transform: translateX(0);
        filter: hue-rotate(0deg);
    }
    to {
        transform: translateY(-80vw);
        background-color: rgba(34,56,76);
        filter: hue-rotate(360deg);
    }
    
} 