html {
  font-size: 30px;
}
h1 {
  text-decoration: underline;
  margin: 0;
  padding: 0;
  text-align: center;
}
h3 {
  word-spacing: 10px;
}
small {
  color: gray;
}
table,
thead,
th,
tbody,
tr td {
  border-collapse: collapse;
  border: 2px solid gray;
  font-size: 22px;
}
td {
  font-size: 18px;
  padding: 10px 10px;
  text-align: justify;
}
h3 {
  text-transform: capitalize;
  text-decoration: underline;
}
fieldset {
  margin-top: 2rem;
}
ul li {
  margin: 10px;
}
ul li ul li {
  font-size: 15px;
}
td ul li {
  margin: 5px;
  font-size: 17px;
}
li b {
  font-size: 24px;
  margin-right: 5px;
}
ol li {
  margin: 10px;
  font-size: 21px;
}
article {
  display: flex;
  justify-content: center;
}
thead th {
  text-align: center;
}
th {
  text-align: justify;
}
th[colspan] {
  text-align: center;
}

@media (max-width: 600px) {
  body {
    font-size: 19px;
  }
  table,
  thead,
  th,
  tbody,
  tr td {
    border-collapse: collapse;
    border: 2px solid gray;
    font-size: 15px;
  }
  td {
    padding: 3px 3px;
    text-align: justify;
  }
}
