body {
  font-size: 20px;
  background-color: hsl(234, 68%, 24%);
}
h1 {
  color: hsl(250, 50%, 65%);
  background-color: hsla(250, 50%, 65%, 0.6);
}
p {
  color: #a11c5f;
}
ul li {
  color: rgb(209, 99, 36);
  background-color: rgba(209, 99, 36, 0.3);
}
